PORT=8080
MONGO_URI=mongodb+srv://rizwantech0509:<db_password>@scrap.acr2wbc.mongodb.net/?retryWrites=true&w=majority&appName=kabadiwala
GMAIL_USER=rizwantech0509@gmail.com
GMAIL_PASS=aQdas@143q
TWILIO_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
